@font-face {
    font-family: "MonsteramaBold";
    src: url("../fonts/monsteramabold.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/monsteramabold.woff2") format("woff2");
        /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #611F6A;
    color: #fff;
    height: 100%;
    font-family: "MonsteramaBold";

}

#p5_loading {
    height: 100%;
}

canvas {
    display: block;
    height: 100%;
}

.load-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.load-aligner -item {
    max-width: 50%;
    height: 100%;
}

.loader {
    border: 16px solid #260c2a;
    /* Light grey */
    border-top: 16px solid #fff;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loadingclass h1{
    font-family: "MonsteramaBold";
    font-size: 56px;
}

.historia-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.historia {
    font-size: 3em;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    --animate-duration: 5000ms;
}

.historia-instrucoes {

    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

.historia-botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 30px;
}
.historia-botoes button {
    margin: 0 10px;
}


.transicao {
    color: #260c2a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 30px;
}

.transicao .titulo {
    font-size: 12em;
    margin-top: 200px;
}

.transicao .subtitulo {
    margin-top: 20px;
    font-size: 5em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.botao-inicial {
    background-color: #cfbbd2;
    border-radius: 26px;
    border: 1px solid #b08fb4;
    display: inline-block;
    cursor: pointer;
    color: #260c2a;
    font-family: "MonsteramaBold";
    font-size: 40px;
    padding: 17px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #906296;
    max-width: 200px;

}

.botao-inicial:hover {
    background-color: #bfa5c3;
}

.botao-inicial:active {
    position: relative;
    top: 1px;
}